.klient:nth-child(even){
    background-color: beige;
}

div[suma] {
    background-color: aqua;
}

div[suma="1500"] {
    background-color: blue;
}


div[biznesowy~="tak"]{
    background-color: blueviolet;
}

div[biznesowy*="tak"]{
    background-color: brown;
}